---
layout: layouts/default.njk
---

<header class="header">
  <div class="container">
    <h1 class="header__title">The Ramblings of a Developer.</h1>
  </div>
</header>

<main>
  <div class="container">
    <!-- Blog posts -->
    <div class="posts">
      <article class="post">
        <h2 class="post__title">
          My miserable trip to the shops.
        </h2>

        <p class="post__lede">
          I had such a miserable experience at Aldi today. The queues were
          long, the staff were annoying and it was raining. It was that bad
          of a day that I just had to talk about it on my blog and publish
          it to the Internet. That's what we're supposed to do in 2020
          right?
        </p>
      </article>

      <article class="post">
        <h2 class="post__title">
          My really nice trip to the seaside.
        </h2>

        <p class="post__lede">
          I had such a great experience at the seaside today. All I
          wanted was an ice cream from my favourite ice cream shop in
          Saltburn. But guess what? It was buy one get one free!
        </p>
      </article>
    </div>

    <!-- About card -->
    <article class="card card--media card--featured">
      <div>
        <img
          class="card__image"
          src="https://cdn.sanity.io/images/3do82whm/next/370b117ccdf6d3f10a218e3bee93ff1ef19dc340-400x400.png?w=720&h=720&fit=clip&auto=format"
          alt="Jamie Bradley"
        />
      </div>
      <div>
        <h3 class="card__title">About Me</h3>
        <p class="card__copy">
          Hey! My name is Jamie Bradley. I am the founder of Endeavour
          Digital and a Lead Front End Engineer. I live near a town called
          Middlesbrough and I enjoy playing squash.
        </p>
      </div>
    </article>
  </div>
</main>