---
layout: layouts/default.njk
---

<header class="header">
  <div class="container">
    <h1 class="header__title">The Ramblings of a Developer.</h1>
  </div>
</header>

<main>
  <div class="container">
    <!-- Blog posts -->
    <div class="posts">
      {% set postslist = collections.myPosts %}

      {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}

        <article class="post">
          <h2 class="post__title">{{ currentPost.title }}</h2>
          {% if currentPost.excerpt %}
            <div class="post__lede">{{ currentPost.excerpt | markdownify | safe }}</div>
          {% endif %}

          <time class="postlist-date" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt|readableDate }}</time>
        </article>
      {% endfor %}
    </div>

    <!-- About card -->
    <article class="card card--media card--featured">
      <div>
        <img
          class="card__image"
          src="https://cdn.sanity.io/images/3do82whm/next/370b117ccdf6d3f10a218e3bee93ff1ef19dc340-400x400.png?w=720&h=720&fit=clip&auto=format"
          alt="Jamie Bradley"
        />
      </div>
      <div>
        <h3 class="card__title">About Me</h3>
        <p class="card__copy">
          Hey! My name is Jamie Bradley. I am the founder of Endeavour
          Digital and a Lead Front End Engineer. I live near a town called
          Middlesbrough and I enjoy playing squash.
        </p>
      </div>
    </article>
  </div>
</main>