<nav class="nav">
  <div class="nav__col">
    <a href="/" class="nav__logo-link">
      <p class="nav__logo">GEIST</p>
    </a>
  </div>
  <div class="nav__col nav__col--right">
    <ul class="o-list nav__links">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/artists/arturo-di-modica">Artists</a>
      </li>
      <li>Press</li>
      <li>Contact</li>
      <li>Private</li>
    </ul>
  </div>
</nav>
