---
layout: layouts/default.njk
---

<header class="header">
  <div class="container">
    <p class="header__back-link">
      <a href="{{ '/' | url }}">← Home</a>
    </p>
    <h1 class="header__title">{{ post.title }}</h1>
  </div>
</header>

<article class="post">
  <div class="container">
    <section class="post__body">
      {{ post.body | markdownify | safe }}
    </section>
  </div>
</article>